<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825014218251-bdm10001gipr1ktb2a5app3sp9c03b9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825014218251-bdm10001gipr1ktb2a5app3sp9c03b9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCTXK2wgE8P6K9miztGQM94n5A4tgR4iXE</string>
	<key>GCM_SENDER_ID</key>
	<string>825014218251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Spark.LoginWithFireBase</string>
	<key>PROJECT_ID</key>
	<string>emailpaogin-b8ad3</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpaogin-b8ad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:825014218251:ios:46138edcb8a10d3eb8a10e</string>
</dict>
</plist>
